:root {
    --width: 10%;
    --height: 10%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 95vh;
}


button {
    align-self: center;
}

#content {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 5%;
    padding: 10px;
}

#palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

#colorBox,
#grid-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    aspect-ratio: 1/1;
}

#colorBox {
    background-color: aqua;
    margin: 10%;
}

#grid-container {
    background-color: red;
    width: 45%;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    width: var(--width);
    height: var(--height);
}